header {
    display: block;
}
    .header {
        position: relative;
        z-index: 15;
    }
        .header .container::after {
            content: " ";
            display: block;
            clear: both;
        }
            .headerItems {
                display: table;
                width: 100%;
            }
                .headerItemsInner {
                    display: table-row;
                }
                    .headerItem {
                        display: table-cell;
                        vertical-align: top;
                        padding: 20px 0;
                    }
                    .headerItemInfo {
                        width: 72%;
                    }
                        .headerItemInner {
                            display: inline-block;
                            vertical-align: top;
                            text-align: left;
                            margin-left: 40px;
                        }
                        .headerItemInner span {
                            color: red;
                        }
                        .headerItemInner .men-title {
                            font-size: 18px;
                            line-height: 1.2;
                            font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                            font-weight: 500;
                        }
                        .men-delivery-time {
                            margin-top: 1px;
                            font-size: 15px;
                            font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                            font-weight: 500;
                        }
                        .men-delivery-time .dot {

                            display: inline-block;
                            height: 3px;
                            width: 3px;
                            margin: 0 3px;
                            margin-bottom: 5px;
                            background-color: #000;
                            border-radius: 50%;
                        }
                        .men-delivery-time .checked {
                            color: rgb(255, 210, 0);
                            margin-left: 5px;
                          }
                        .men-call {
                            display: inline-block;
                            vertical-align: top;
                            padding-left: 0px;
                            color: rgb(153, 153, 153);
                            font-size: 15px;
                            line-height: 1;
                        }
                        .men-number {
                            font-size: 18px;
                            line-height: 1.2;
                            font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                            font-weight: 500;
                        }
                        .headerLogo {
                            width: 250px;
                            margin-left: 0;
                            margin-top: -3px;
                        }
                        .men-btn {
                            display: inline-block;
                            float: right;
                            background-color: #f3f3f7;
                            padding: 7px 15px;
                            color: rgb(92, 99, 112);
                            border-radius: 14px;
                            font-size: 14px;
                            margin-top: -40px;
                            cursor: pointer;
                        }
                        .men-btn:hover {
                            color: #000;
                        }



                        .nav{
                            margin-bottom: 40px;
                        }
                        .nav-links{
                            display: inline-block;
                            float: left;
                        }
                        .nav-links a{
                            text-decoration: none;
                            font-size: 14px;
                            color: #000;
                            margin-left: 10px;
                        }
                        .nav-links a:first-of-type{
                            margin-left: 0;
                        }
                        .nav-links a:hover {
                            color: rgb(255, 105, 0);
                        }
                        .nav-btn{
                            display: inline-block;
                            float: right;
                            background-color: rgb(255, 105, 0);
                            height: 40px;
                            padding: 8px 20px;
                            font-size: 16px;
                            line-height: 24px;
                            border-radius: 20px;
                            margin-top: -12px;
                        }
                        .nav-btn a{
                            text-decoration: none;
                            color: #fff;
                        }

                        .hed-choose-city {
                            display: none;
                            float: left;
                            position: absolute;
                            background-color: #fff;
                            box-shadow: 0 2px 8px #0002;
                            z-index: 3;
                            width: 1020px;
                            height: 385px;
                            margin-top: -60px;
                            border-radius: 20px;
                            margin-left: -20px;
                            margin: -5px -15px;line-height: 1.4;line-height: 1.4;
                            text-align: center;

                        }
                        .hed-choose-city-title {
                            padding: 44px 46px 29px;
                            background: rgb(247, 248, 248);
                            border-radius: 20px 20px 0px 0px;
                            border-bottom: 1px solid rgb(226, 226, 233);
                            height: 125px;
                            font-size: 36px;
                            font-weight: 500;
                            line-height: 1.4;
                        }
                        .hed-choose-city-all {
                            padding: 50px;
                        }
                        .hed-choose-city1, .hed-choose-city2 {
                            font-size: 30px;
                            margin-bottom: 35px;
                            display: block;
                            max-width: 100%;
                        }   
                            .close {
                                position: absolute;
                                cursor: pointer;
                                top: 1%;
                                right: -4%;
                                width: 32px;
                                height: 32px;
                                opacity: 1;
                              }
                              .close:hover {
                              }
                              .close:before, .close:after {
                                position: absolute;
                                left: 15px;
                                content: ' ';
                                height: 33px;
                                width: 2px;
                                background-color: #000;
                              }
                              .close:before {
                                transform: rotate(45deg);
                              }
                              .close:after {
                                transform: rotate(-45deg);